.sidebar {
  width: 30%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.black_list {
  width: 100%;
  margin-top: 24px;
}

.black_list img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.filter-select,
.filter-button {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.filter-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
